body {
/*	background-color: #00ff00; */
	
	background: url("../img/burger-time.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

 	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

h1 {
	text-align: center;
}